# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Django
local_settings.py
db.sqlite3
/static/
media/

# Virtualenv
venv/
env/
ENV/
*.env
*.venv

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Django Static Files
/staticfiles/
/media/

# Django migrations
*/migrations/*

# Coverageg
.coverage
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json